header {
  background-color: #3273dc;
  width: 100%;
  height: 50px; }
  header h1 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold; }

footer {
  background-color: #3273dc;
  width: 100%;
  height: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  position: relative; }
  footer h2 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold; }

section#busca {
  position: relative;
  margin-top: 5%; }

section#beers {
  position: relative;
  margin-bottom: 10%; }
  section#beers .columns {
    padding-left: 20px;
    padding-right: 20px; }
  section#beers .content {
    color: #fff; }
    section#beers .content h1 {
      font-size: 15px;
      text-transform: uppercase; }
    section#beers .content p {
      font-size: 10px; }

section#app {
  position: relative;
  margin-bottom: 5%; }
