footer {
    background-color: #3273dc;
    width: 100%;
    height: 50px;
    right:0;
    left:0;
    bottom:0;
    position: absolute;    
    h2 {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
}